.menusys_moo {
	margin: 0;
	padding: 0;
	position: relative;
}

#menusys_moo {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 41px;
}

#menusys_moo ul {
	margin: 0;
	padding: 0;
}

#menusys_moo li {
	margin: 0;
	padding: 0 2px 0 0;
	float: left;
	display: block;
	background: none;
	border: 0;
	cursor: pointer;
	background: url(../../images/main-li.gif) no-repeat top right;
}

#menusys_moo li ul {
	width: 16.4em;
	margin: 0;
	position: absolute;
	z-index: 9999;
	left: -999em;
	height: auto;
	w\idth: 15.9em;
}

#menusys_moo li ul ul {
	margin: -1.5em 0 0 15.2em;
}

#menusys_moo li li {
	padding: 0;
	margin: 0;
	width: 15.9em;
}
#menusys_moo li ul li li {
	width: 15.9em;
}
#menusys_moo ul a {
	width: 15.8em;
}
#menusys_moo li:hover ul ul, #menusys_moo li:hover ul ul ul,
#menusys_moo li.hover ul ul, #menusys_moo li.havechildhover ul ul, #menusys_moo li.havechild-activehover ul ul, #menusys_moo li.activehover ul ul,
#menusys_moo li.hover ul ul ul, #menusys_moo li.havechildhover ul ul ul, #menusys_moo li.havechild-activehover ul ul ul, #menusys_moo li.activehover ul ul ul {
	left: -999em;
}

#menusys_moo li:hover ul, #menusys_moo li li:hover ul, #menusys_moo li li li:hover ul,
#menusys_moo li.hover ul, #menusys_moo li.havechildhover ul, #menusys_moo li.havechild-activehover ul, #menusys_moo li.activehover ul,
#menusys_moo li li.hover ul, #menusys_moo li li.havesubchildhover ul, #menusys_moo li li.havesubchild-activehover ul, #menusys_moo li li.activehover ul,
#menusys_moo li li li.hover ul, #menusys_moo li li li.havesubchildhover ul, #menusys_moo li li li.havesubchild-activehover ul, #menusys_moo li li li.activehover ul {
	left: auto;
}

/* Menu styling begin */
#menusys_moo li a {
	padding: 0;
	margin: 0;
	display: block;
	color: #d1f8ba;
	text-decoration: none;
	cursor: pointer; /*line-height: 29px;*/
}

#menusys_moo li a span {
	padding: 10px 21px 11px;
	margin: 0;
	display: block;
	line-height: 20px;
	border: none;
	color: #d1f8ba;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 130%;
}

#menusys_moo li a:hover,
#menusys_moo li a:active,
#menusys_moo li a:focus {
	border: none;
	text-decoration: none;
	display: block;
}

#menusys_moo li:hover a,
#menusys_moo li.hover a,
#menusys_moo li.havechildhover a,
#menusys_moo li.havechild-activehover a {
	color: #ffffff;
	border: none;
	display: block;
}

#menusys_moo li:hover a span,
#menusys_moo li.hover a span,
#menusys_moo li.havechildhover a span,
#menusys_moo li.havechild-activehover a span {
	border: none;
	color: #ffffff;
	display: block;
}

#menusys_moo li a.active,
#menusys_moo li a.active:hover,
#menusys_moo li a.active:active,
#menusys_moo li a.active:focus {
	color: #ffffff;
	border: none;
	display: block;
}

#menusys_moo li a.active span,
#menusys_moo li a.active:hover span,
#menusys_moo li a.active:active span,
#menusys_moo li a.active:focus span {
	border: none;
	color: #ffffff;
	display: block;
}

#menusys_moo li ul {
	border: none;
	background: none !important;
}

#menusys_moo li ul ul {
	/*border: 1px solid #e7e6d7 !important;*/
}

#menusys_moo li ul li {
	background: url(../../images/sub-li.png) repeat;
	border-bottom: 1px solid #579832;
}
#menusys_moo li ul ul li {
	border-bottom: 1px solid #579832;
}
#menusys_moo li ul li.last-item {
	border-bottom: none !important;
}
#menusys_moo li li.jv-last-li {
	background: url(../../images/sub-li-last.png) no-repeat bottom right;
	border: none !important;
	margin: 0 0 0 0.4em;
	padding: 0;
	height: 4px !important;
	width: 15.5em;
}
#menusys_moo li li.jv-last-li span {
	background: url(../../images/sub-span-last.png) no-repeat bottom left;
	display: block;
	margin: 0 0 0 -0.4em;
	height: 4px;
	line-height: 4px !important;
	padding: 0;
}
#menusys_moo li li li.jv-first-li {
	background: url(../../images/sub-li-first.png) no-repeat top right;
	border: none !important;
	margin: 0 0 0 0.4em;
	padding: 0;
	height: 4px !important;
	line-height: 4px !important;
	width: 15.5em;
}
#menusys_moo li li li.jv-first-li span {
	background: url(../../images/sub-span-first.png) no-repeat top left;
	display: block;
	margin: 0 0 0 -0.4em;
	height: 4px;
	line-height: 4px !important;
	padding: 0;
}
#menusys_moo li li li.jv-last-li {

}
#menusys_moo li li li.jv-last-li span {
	
}
#menusys_moo li ul li li {
	width: 15.95em;
}
#menusys_moo li ul a,
#menusys_moo li ul a:hover,
#menusys_moo li ul a:active {
	margin: 0;
	padding: 0;
	border: none !important;
	color: #ffffff !important;
	line-height: 24px;
}

#menusys_moo li ul a span {
	height: auto;
	padding: 4px 5px 4px 21px;
	line-height: 16px; 
	display: block;
	color: #ffffff !important;
	font-size: 100%;
	font-family: "Times New Roman", Times, serif;
	border: none !important;
}

#menusys_moo li li.hasChild a,
#menusys_moo li li.hasChild li.hasChild a,
#menusys_moo li li.hasChild li.hasChild li.hasChild a,
#menusys_moo li li.hasChild a:hover,
#menusys_moo li li.hasChild li.hasChild a:hover,
#menusys_moo li li.hasChild li.hasChild li.hasChild a:hover {
	background: url(../../images/a-haschild.png) no-repeat 96% 9px;
}
#menusys_moo li li.hasChild li a,
#menusys_moo li li.hasChild li a:hover,
#menusys_moo li li.hasChild li li a,
#menusys_moo li li.hasChild li li a:hover,
#menusys_moo li li.hasChild li.hasChild li a,
#menusys_moo li li.hasChild li.hasChild li a:hover {
	background: none;
}

#menusys_moo li ul a:hover,
#menusys_moo li ul a:active,
#menusys_moo li ul a:focus,
#menusys_moo ul li:hover,
#menusys_moo ul li.hover,
#menusys_moo ul li.havesubchildhover,
#menusys_moo ul li.havesubchild-activehover,
#menusys_moo ul ul li:hover,
#menusys_moo ul ul li.hover,
#menusys_moo ul ul li.havesubchildhover,
#menusys_moo ul ul li.havesubchild-activehover {
	color: #ffffff !important;
	text-decoration: underline;
}

#menusys_moo ul li a.active {
	color: #ffffff !important;
	text-decoration: underline;
}

#menusys_moo ul li a.active:hover,
#menusys_moo ul li a.active:active,
#menusys_moo ul li a.active:focus {
	color: #ffffff !important;
	text-decoration: underline;
}
#menusys_moo li ul a:hover span,
#menusys_moo li ul a:active span,
#menusys_moo li ul a:focus span,
#menusys_moo ul li a.active span,
#menusys_moo ul li a.active:hover span,
#menusys_moo ul li a.active:active span,
#menusys_moo ul li a.active:focus span {
	color: #ffffff !important;
	text-decoration: underline;
}
