<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/elibrary?useUnicode=true&amp;characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.transaction.auto_close_session">false</property>
    <property name="hibernate.transaction.flush_before_completion">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
    <property name="default_batch_fetch_size">4</property>
    <property name="fetch">subselect</property>
    <mapping resource="uit/elib/dto/Resourcecategory.hbm.xml"/>
    <mapping resource="uit/elib/dto/Resource.hbm.xml"/>
    <mapping resource="uit/elib/dto/Subject.hbm.xml"/>
    <mapping resource="uit/elib/dto/Subjectcategory.hbm.xml"/>
    <mapping resource="uit/elib/dto/Faculty.hbm.xml"/>
    <mapping resource="uit/elib/dto/Level.hbm.xml"/>
    <mapping resource="uit/elib/dto/News.hbm.xml"/>
    <mapping resource="uit/elib/dto/Ip.hbm.xml"/>
    <mapping resource="uit/elib/dto/Groupdetail.hbm.xml"/>
    <mapping resource="uit/elib/dto/Group.hbm.xml"/>
    <mapping resource="uit/elib/dto/User.hbm.xml"/>
    <mapping resource="uit/elib/dto/Advertising.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
